body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #map {
    height: 100%;
    width: 100%;
  }
.títol {position: absolute; top: 50px; right: 100px; font-size: 40px; width: auto; padding:10px; opacity: 95%; background-color:coral; z-index: 10;
  border-radius: 20px;text-align: center; border: solid 4px black;font-family: Georgia, 'Times New Roman', Times, serif;}

.townname {text-align: center; font-size: 30px;font-weight: bolder;background-color: lightcoral;padding: 10px}

.clickhere_text {text-align: center; font-size: 20px;font-weight: normal; padding-top: 20px} 

.NDVI_link {text-align: center; font-size: 15px; width: fit-content;border: solid 1px black; padding: 2px;font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder; border-radius: 20px; }


  